composer.lock
composer
vendor/**
build/**
dist/**
plugins/**
!plugins/.gitkeep
.idea/**
logs/**
!logs/.htaccess
config/**
!config/features.json
!config/.htaccess
!config/config.json.example
db/**
!db/.htaccess
validation/**
/plugins/rpcview/
connector.phar
jtl-connector*.zip