composer.lock
composer
vendor/**
dist/**
plugins/**
!plugins/.gitkeep
.idea/**
logs/**
!logs/.htaccess
config/**
!config/features.json
!config/.htaccess
db/**
!db/.htaccess
phing.phar
jtlasc.phar
stub.php