{
    "developer_logging": false,
    "category": {
        "mapping": false,
        "push": {
            "null_undefined_attributes": true
        }
    },
    "product": {
        "push": {
            "enable_custom_properties": false,
            "null_undefined_attributes": true,
            "article_detail_preselection": false,
            "use_handling_time_for_shipping": false,
            "consider_supplier_inflow_date_for_shipping": true
        }
    },
    "payment":{
        "pull":{
            "allowed_cleared_states": []
        }
    },
    "customer_order": {
        "pull": {
            "start_date": null,
            "status_processing": true
        }
    },
    "delivery_note": {
        "push": {
            "create_document": true
        }
    },
    "payment_type_mappings": {
        "example_pm_jtl_type_1": "example_shopware_type_2",
        "example_pm_jtl_type_2": [
            "example_shopware_type_1",
            "example_shopware_type_3"
        ]
    }
}